* {
  box-sizing: border-box;
}
body {
  font-family: Baskerville;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
  display: inline-block;
}

.header {
  padding: 0;
  overflow: hidden;
}

h1 {
  font-size: 3rem;
  font-weight: 400;
}

h2 {
  font-weight: 300;
  font-size: 1.8rem;
}
