.me-arrow {
  background: rgba(255, 255, 255, 0.8);
  font-size: 3rem;
  display: block;
  position: absolute;
  transform: translateY(-50%);
  top: 3rem;
  width: 100%;
}

@media (min-width: 320px) {
  .me-arrow {
    display: block;
    font-size: 3rem;
    top: 8rem;
    transform: translateY(-50%);
  }
}
@media (min-width: 600px) {
  .me-arrow {
    display: block;
    font-size: 5rem;
    top: 11rem;
    transform: translateY(-50%);
  }
}

@media (min-width: 900px) {
  .me-arrow {
    font-size: 5rem;
    top: 16.375rem;
    transform: translateY(-50%);
  }
}
