.project-1 {
  background-image: url('../../assets/images/app-thumbnails/squareRacerThumb.png');
}
/* .project-1 {
  background-image: url('assets/images/app-thumbnails/squareRacerThumb.png');
} */

.project-2 {
  background-image: url('../../assets/images/app-thumbnails/yelp-camp-square-250x250.png');
}
.project-3 {
  background-image: url('../../assets/images/app-thumbnails/PomodoroClockThumb.png');
}
.project-4 {
  background-image: url('../../assets/images/app-thumbnails/TravelSiteThumb.png');
}
.project-5 {
  background-image: url('../../assets/images/app-thumbnails/CalculatorThumb.png');
}
.project-6 {
  background-image: url('../../assets/images/app-thumbnails/OldBookNewBookThumb.png');
}
.project-7 {
  background-image: url('../../assets/images/app-thumbnails/expensify.png');
}
/* .project-8 {
  background-image: url('../../assets/images/app-thumbnails/gain-tracker.png');
} */
.project-8 {
  background-image: url('../../assets/images/app-thumbnails/gain-tracker-square-250x250.png');
}

.grid-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid-3 > a {
  margin: 0 0 2rem 0;
}

.grid-3 > a:last-of-type {
  margin: 2rem 0 2rem 0;
}

@media (min-width: 900px) {
  .grid-3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 1rem 0 1rem;
    /* align-items: center; */
  }
  .grid-3 > a {
    margin: 0 1rem 0 1rem;
  }
  .grid-3 > a:first-of-type {
    margin: 0 1rem 0 0;
  }
  .grid-3 > a:last-of-type {
    margin: 0 0 0 1rem;
  }
}

.item-1 {
  display: flex;
  background-image: url('../../assets/images/app-thumbnails/gain-tracker-square-350x350.png');
  background-size: cover;

  align-items: flex-end;
}

.item-2 {
  display: flex;
  background-image: url('../../assets/images/app-thumbnails/yelp-camp-square-350x350.png');
  background-size: cover;
  align-items: flex-end;
}
.item-3 {
  display: flex;
  background-image: url('../../assets/images/app-thumbnails/travel-site-square-350x350.png');
  background-size: cover;
  align-items: flex-end;
}

.item-1:hover > .project-label {
  opacity: 1;
}
.item-2:hover > .project-label__dark-1 {
  opacity: 1;
}
.item-3:hover > .project-label__dark-2 {
  opacity: 1;
}

.project-item:hover {
  opacity: 0.8;
  cursor: pointer;
}

.project-label {
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.3);
}
.project-label__dark-1 {
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.project-label__dark-2 {
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.project-item {
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  height: 300px;
  max-width: 300px;
}
